*.pyc
*~
.*
dist
*egg-info*
example/bin
example/parts
example/.installed.cfg
example/eggs
example/downloads
example/develop-eggs
tests/bin
tests/parts
tests/.installed.cfg
tests/eggs
tests/downloads
tests/develop-eggs
docs/_build
*.xml
htmlcov
*.sqlite
django_demo_*
